{{#if (and isModalDialogVisible cookieNotExist)}}
  {{#modal-dialog targetAttachment="center"
                  translucentOverlay=true
                  onClose=(action "closeModalDialog")}}
    <p class="ember-modal-dialog-start-text"> {{t 'modalDialog.infoText'}}</p>

    <CoolButton @onClick={{action closeModalDialog}} @buttonName="Let's Get Started"/>

  {{/modal-dialog}}
{{else}}
  <UserList @createdUsers={{this.users}}
            @removeUser={{this.removeSelectedUser}}/>
  {{#if (eq this.users.length 2)}}
    <p>here</p>
  {{else}}
    <div class="flex justify-center flex-wrap my-5">
      <p class="mr-10"> If you created users before you can simply find in here </p>
      {{input class="shadow appearance-none border rounded text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out mr-10"
        type="text"
        value=(mut this.currentUserName)
        focus-out="findUser"}}
      {{#if this.userFindError}}
        {{this.userFindError}}
      {{/if}}

      <div class="w-full my-3"></div>

      <p class="mr-20"> Or simply goes to add user page to add some :) </p>
      {{link-to 'Add User' 'user.new' classNames='text-black'}}
    </div>
  {{/if}}
{{/if}}

