{{!-- ref https://www.tailwindtoolbox.com/templates/rainblur-landing-page --}}
<div class="container pt-24 md:pt-36 mx-auto items-center text-center">
  <div class="errors">
    {{#each this.errorList as |error|}}
      <div class="flex items-center justify-center">
        <FaIcon class="mr-3" @icon="skull" />
        <p class="text-center items-center">{{error.detail}}</p>
      </div> 
    {{/each}}
  </div>
  <label class="block text-black py-2 font-bold mb-2" >
    {{t 'userNew.userInfo'}}  
  </label>
  <div class="flex items-center justify-center">
    <UserList @createdUsers={{this.createdUsers}}
              @removeUser={{this.removeCreatedUser}}/>
  </div>
  <UserCreateForm @createdUsers={{this.createdUsers}}
                  @createUser={{this.createUser}}
                  @updateUserName={{this.updateUserName}}/>
  <CoolButton @onClick={{action transitionToPlayground}} @buttonName="Let's Play"/>
</div>